# ignore idea setting files
*.iml
*.iws
*.ipr
.idea

# ignore eclipse setting files
.classpath
.project
.settings
.checkstyle

# ignore maven target directory
target

# ignore log files
*.log
*.log.*
logs
cache
tmpfiles
bin

# ignore mac noise
.DS_Store

# ignore gradle output
build
out
.gradle

#ignore android studio files
local.properties

#ignore android project files
gradlew
gradlew.bat
gradle-wrapper.jar
gradle-wrapper.properties
